
<table mat-table [dataSource]="data" class="query-table" >
    <ng-container matColumnDef="keyword">
        <th mat-header-cell *matHeaderCellDef>Keyword</th>
        <td mat-cell *matCellDef="let element"> {{element.keyword}}</td>
    </ng-container>

    <ng-container matColumnDef="synonyms">
        <th mat-header-cell *matHeaderCellDef>List of synonyms, separated by comma’s</th>
        <td mat-cell *matCellDef="let element"> {{element.synonyms}}</td>
    </ng-container>

    <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef>Group</th>
        <td mat-cell *matCellDef="let element"> {{element.group}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element; let i = index;"><button (click)="deleteRow(i)">Delete</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>
